body {
    background-image: url(../images/R.jpg);
}

.hero {
    padding: 50px;
    border-radius: 50px;
    min-height: 500px;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.icon {
    background: linear-gradient(120deg, #f8ff6c, #fda085);
  -webkit-background-clip: text;
  color: transparent;
}

button{
    background: linear-gradient(120deg, #f8ff6c, #fda085);
}

#loading {
    display: none;
    background: linear-gradient(120deg, #f8ff6c, #fda085);

}

.weather-data {
    width: 100%;
    height: 80px;
    border-radius: 20px;
    background-color: rgba(160, 158, 158, 0.436);
    text-align: start;
    font-size: 24px;
    font-weight: 700;
    color: white;
}

#form-details {
    display: none;
}

.error-form {
    display: none;
}